@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");

/*Common styles*/
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

.text-description {
  color: #727272;
  margin-top: 10px;
}

.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 25px;
  color: #fff;
  font-size: 1.25rem;
  cursor: pointer;
  border: 0;
}

.section-title {
  font-size: 3rem;
  font-weight: 700;
  color: #131313;
}

/*styles*/

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 250px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 30px;
  font-size: 1rem;
  font-weight: 500;
}
nav li a {
  text-decoration: none;
  color: #424242;
}

.banner-content {
  text-align: center;
  max-width: 800px;
  margin: 50px auto;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}

.banner-description {
  margin-bottom: 20px;
}

.banner img {
  width: 100%;
}

main {
  max-width: 1240px;
  margin: 40px auto;
}
.teams-container {
  display: flex;
  align-items: center;
}
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.teams-content {
  padding-left: 50px;
  padding-right: 20px;
}
.teams-content button{
  margin-top: 20px;
}
.teams-title {
  font-size: 2.8rem;
}
.teams-title .quick-list {
  color: #727272;
  font-weight: 500;
}
.teams-title .text-feature {
  color: #ff900e;
  font-weight: 700;
}

.features {
  display: flex;
  margin-top: 120px;
  height: 900px;
}
.features .card {
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  margin-top: 20px;
  padding: 20px;
  background: #fff;
}
.feature-content .section-title {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.feature-img .badge {
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  padding: 40px;
  width: 230px;
  text-align: center;
  position: relative;
  bottom: 100px;
  left: 30px;
}
.feature-img img {
  height: 80%;
  margin-left: 100px;
}
.badge h2 {
  font-size: 2.8rem;
}
.badge p {
  font-size: 1.2rem;
}
/* .features .text-description {
  margin-top: 10px;
} */

.facts {
  padding: 0px 150px;
}
/* .facts .section-title {
  margin-bottom: 20px;
} */
.facts-card-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  gap: 10px;
}
.facts-card-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 30px;
}
.facts-card-container .stats {
  color: #424242;
  font-size: 2rem;
}
.facts-card-container .card-title {
  font-weight: 600;
  font-size: 1.25rem;
}

.sponsors{
  padding: 120px 150px;
  text-align: center;
}
.sponsors-content{
  padding: 0 100px;
}
.sponsors-image img{
  height: 40px;
  margin: 30px 20px;
  filter: grayscale(100%);
}
/*Responsiveness*/
/*For mobile devices*/
@media screen and (max-width: 576px) {
  header,
  .facts,
  .features {
    padding: 20px;
  }
  nav,
  .teams-container,
  .facts-card-container,
  .features {
    flex-direction: column;
  }
  nav > ul {
    margin-top: 20px;
  }
  .teams-img-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .teams-content {
    margin-top: 20px;
  }
  .facts-card-container {
    gap: 10px;
    align-items: center;
  }
  .facts-card-container .card {
    width: 50%;
  }
  .facts{
    margin-top: 580px;
  }
  .features{
    margin-top: 60px;
  }
  .feature-img img {
    height: 42%;
    margin: 20px;
}
.feature-img .badge{
  width: 100px;
  bottom: 100px;
  left: 0px;
  padding: 30px;
}
.badge h2 {
  font-size: 1.8rem;
}
.badge p {
  font-size: 1rem;
}
}

/*For medium devices*/
@media screen and (min-width: 576px) and (max-width: 992px) {
  header,
  .facts,
  .features {
    padding: 50px;
  }
  nav,
  .teams-container,.features {
    flex-direction: column;
  }
  nav > ul {
    margin-top: 20px;
  }
  .teams-content {
    margin-top: 20px;
  }
  .features{
    margin-top: 50px;
    gap: 20px;
  }
  .facts-card-container {
    gap: 10px;
    align-items: center;
  }
  .facts{
    margin-top: 640px;
  }
}
